.container {
  overflow: scroll;
  height: 100%;

  >.background {
    background: #272822;
    color: #555;
    position: fixed;
    inset: -160px;
    z-index: -1;
    font-size: 24px;
    word-spacing: 8px;
    display: flex;
    flex-wrap: wrap;
    transform: rotateZ(-8deg);

    >span {
      margin: 6px;
      opacity: 0.2;
    }
  }

  >.content {
    min-height: 100%;
    background: #fff;
    padding: 40px;
    margin: 0 auto;

    @media (max-width: 699.97px) {
      width: 100%;
    }

    @media (min-width: 700px) {
      max-width: 600px;
      border-right: 2px solid #000;
      border-left: 2px solid #000;
    }

    >h1 {
      margin-top: 0;
      text-align: center;
    }

    >form {
      display: flex;
      gap: 8px;

      @media (max-width: 699.98px) {
        flex-direction: column;
      }

      >input {
        font-size: 24px;
        flex-grow: 1;
        min-width: 0;
        padding: 8px;
        background: #efefef;
        border-radius: 4px;
        border: 2px solid #bbb;
      }

      >div {
        display: flex;
        gap: 8px;
        flex-shrink: 0;

        @media (max-width: 699.98px) {
          justify-content: center;
          height: 50px;
        }

        >select {
          cursor: pointer;
          border: 2px solid #bbb;
          border-radius: 4px;
          background: #efefef;
        }

        >button {
          padding: 0 24px;
          flex-shrink: 0;
        }
      }
    }
  }
}
