.container {
  overflow: scroll;
  height: 100%;

  >.background {
    background: #272822;
    color: #555;
    position: fixed;
    inset: -160px;
    z-index: -1;
    font-size: 24px;
    word-spacing: 8px;
    display: flex;
    flex-wrap: wrap;
    transform: rotateZ(-8deg);

    >span {
      margin: 6px;
      opacity: 0.2;
    }
  }

  >.content {
    min-height: 100%;
    background: #fff;
    padding: 40px;
    margin: 0 auto;

    @media (max-width: 699.97px) {
      width: 100%;
    }

    @media (min-width: 700px) {
      max-width: 600px;
      border-right: 2px solid #000;
      border-left: 2px solid #000;
    }

    >h1 {
      margin-top: 0;
      text-align: center;
    }
  }
}
