.container {
  height: 100%;
  overflow: scroll;

  >.background {
    z-index: -1;
    position: fixed;
    inset: -64px;

    >div {
      position: absolute;
      inset: -64px;
      background: url('/img/link.png') repeat;
      opacity: 0.3;
    }
  }

  .content {
    background: #fff;
    padding: 40px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;

    @media (min-width: 700px) {
      border-right: 2px solid #000;
      border-left: 2px solid #000;
    }

    >h1 {
      margin-top: 0;
    }

    >p {
      line-height: 28px;

      b {
        font-weight: 600;
      }
    }

    >.examples {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin: 14px 0;

      >span>span {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: -10px;
          height: 4px;
          border: 1px solid #999;
          border-bottom: 0;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -10px;
          height: 4px;
          border: 1px solid #999;
          border-top: 0;
        }
      }
    }

    >.gco {
      font-size: 32px;
      margin: 6px 0 14px 0;

      >span {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: -2px;
          height: 4px;
          border: 1px solid #999;
          border-bottom: 0;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -10px;
          height: 4px;
          border: 1px solid #999;
          border-top: 0;
        }
      }
    }

    >.table {
      margin: 0 auto;

      tr:first-of-type {
        th {
          padding: 0 4px;
        }

        &.small th {
          @media (max-width: 575.98px) {
            font-size: 12px;
          }
        }
      }

      tr.winner {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          background: rgba(0, 255, 0, 0.25);
        }
      }
    }

    >.shortener {
      font-size: 32px;
      margin-bottom: 14px;

      >span {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -10px;
          height: 4px;
          border: 1px solid #999;
          border-top: 0;
        }
      }
    }

    >.clickCopy {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      >a {
        font-size: 32px;
      }

      .copyLink {
        font-size: 32px;
        top: 2px;
        cursor: pointer;
        color: var(--highlight);

        &:hover {
          color: var(--highlightHover);
        }
      }
    }
  }
}
