.container {
  height: 100%;

  >.icons {
    position: absolute;
    right: 8px;
    bottom: 6px;
    display: flex;
    gap: 4px;

    >a {
      color: inherit;

      &:hover {
        color: var(--highlight);
      }

      >svg {
        font-size: 32px;
      }
    }
  }

  .content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .center {
      justify-content: center;
      text-align: center;
      z-index: 2;
      transition: 0.25s;

      >h1 {
        font-size: 64px;
        margin: 0;
        font-weight: 800;

        @media (max-width: 767.98px) {
          font-size: 48px;
        }

        >span {
          white-space: pre-wrap;
          display: inline-block;
          opacity: 0;
          animation: type 1s forwards;
          text-shadow: 0 8px 2px #999;
        }
      }

      >p {
        display: inline-block;
        margin: 24px 0 0 0;

        >a {
          color: var(--highlight);
          text-decoration: none;

          &:hover {
            color: var(--highlightHover);
            text-decoration: underline;
          }
        }
      }
    }
  }

  @keyframes type {
    from {
      opacity: 1;
    }

    to {
      opacity: 1;
    }
  }
}
