.container {
  position: absolute;
  inset: 0;

  >p {
    z-index: 1;
    transition: 0.25s;
    margin: 0;
    position: fixed;
  }

  .score,
  .highScore {
    top: 8px;
    font-size: 24px;
  }

  .score {
    left: 8px;
  }

  .highScore {
    right: 8px;
  }

  .esc {
    bottom: 8px;
    left: 8px;
    cursor: pointer;
  }

  >canvas {
    display: block;
    transition: 0.25s;
    z-index: -1;
  }
}
