* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

html,
body,
#__next {
  height: 100%;
}

button {
  cursor: pointer;
}
